<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
    <p></p>
    <hr>
  <% end %>
</div>


<div>
  <h1>Publicar novo artigo</h1>
    <% if logged_in? %>
      <%= link_to "Criar novo artigo", new_user_article_path(current_user.id)%>
    <%end%>
</div>